<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bhuket</title>
  {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
</head>
<body>
  <div class="container">
    <header class="splash">
      <div class="row-fluid">
        <div class="span12">
          <h1>Bhuket <small>So many buckets!</small></h1>
          <p>
            A script to create S3 buckets with per-project access permissions without copying and pasting any more policy files.
          </p>
        </div>
      </div>
    </header>

    <hr>

    <div class="row-fluid">
      <div class="span12">

        <div class="alert fade in hide alert-error" id="alert-error">
          <button type="button" class="close">×</button>
          <strong>Dang:</strong>
          <span class="alert-message"></span>
        </div>

        <form action="/buckets/create" method="post" accept-charset="utf-8" class="form-horizontal" id="create-bucket">
          <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
          <h2>Create Bucket</h2>

          <fieldset>
            <legend>Your New Bucket</legend>
            <div class="control-group">
              <label class="control-label" for="bucket-name">Bucket Name</label>
              <div class="controls">
                <input type="text" id="bucket-name" name="bucket-name" placeholder="Bucket Name" class="input-xlarge">
                <span class="help-block">
                  All lowercase, no underscores, no periods.
                  <a href="http://support.rightscale.com/06-FAQs/FAQ_0094_-_What_are_valid_S3_bucket_names%3F" target="_blank">More info here.</a>
                </span>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Your AWS Credentials</legend>
            <div class="control-group">
              <label class="control-label" for="aws-key">AWS Access Key ID</label>
              <div class="controls">
                <input type="text" id="aws-key" name="aws-key" placeholder="AWS Access Key ID" class="input-xxlarge">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="aws-secret">AWS Secret</label>
              <div class="controls">
                <input type="password" id="aws-secret" name="aws-secret" placeholder="AWS Secret" class="input-xxlarge">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox" id="save-creds">
                  Save these credentials in your browser
                  (warning: this is a terrible idea, use 1Password or something)
                </label>
              </div>
            </div>
          </fieldset>

          <div class="form-actions">
            <input type="submit" value="Create Bucket" class="btn btn-primary btn-large" data-loading-text="Fetching a Bucket...">
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer>
    <div class="span4">
      <a href="https://github.com/dleavitt/bhuket">Source</a>
    </div>
  </footer>

  <div id="success-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Here is your bucket.</h3>
    </div>
    <div class="modal-body">
      <dl>
        <dt>Bucket URL:</dt>
        <dd id="new-bucket-url"></dd>
        <dt>Bucket Name:</dt>
        <dd id="new-bucket-name"></dd>
        <dt>AWS Access Key ID:</dt>
        <dd id="new-aws-key"></dd>
        <dt>AWS Secret:</dt>
        <dd id="new-aws-secret"></dd>
        <dt>User Name:</dt>
        <dd id="new-user-name"></dd>
      </dl>
      <p>Warning: these credentials will not appear again! Please copy them somwhere.</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
  {% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
</body>
</html>
